@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'
);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #081b29;

    color: rgb(252, 252, 252);
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo:hover {

    font-size: 20px;
    color: #00abf0;
    transition: .5s;

}

.logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;

}

.logo::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1s ease forwards;
    animation-delay: .0.1s;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
    font-size: 22px;
}

.home {

    display: flex;
    padding: 0 10%;
    height: 100vh;
    /* background: url(Untitled.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    align-items: center;
}

.home-content {
    margin-top: 30px;
    display: flex;
    flex: 1;
    background-color: transparent;
    height: 65vh;
    width: 100%;


}

.home-content.left {
    margin: 10px;
    align-items: center;
    margin-top: 50px;
    width: 200px;
    order: 1;
}

.CV {
    margin-top: 10px;
    width: 100px;
    height: 40px;

}


#phoneNumber {
    display: none;
  }

#downloadButton {
    margin-left: 80px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 150px;
    height: 100%;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    background-color: #00abf0;
    color: #081b29;
    text-decoration: none;
    font-weight: 600px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

#downloadButton:hover {
    color: #00abf0;

}

#downloadButton:nth-child(2) {
    background: transparent;
    color: #00abf0;

}

#downloadButton:nth-child(2):hover {
    color: #081b29;
}

#downloadButton:nth-child(2)::before {
    background: #00abf0;
}


#downloadButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

#downloadButton:hover:before {
    width: 100%;
}

#h1,
h3,
p {
    margin-top: 10px;
}

img {
    border: 4px solid #00abf0;
    border-radius: 100px;
    border-top: 5px solid #00abf0;
    border-bottom: 5px solid #00abf0;
    border-left: 10px solid #00abf0;
    border-right: 10px solid #00abf0;
    box-shadow: 5px 5px 40px 5px rgb(187, 179, 223);
    height: 360px;
    width: 300px;
    align-items: center;
    margin-left: 100px;
    

}

.home-content.img {
    text-align: center;
    /* Center the text within the container */

    order: 2;
}


.home-content h1:hover {
    font-size: 58px;
    color: #00abf0;
    ;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    transition: .4s;

}

.home-content h1::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1s ease forwards;
    animation-delay: .4s;

}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    transition: .15s;
}

.home-content h3::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1s ease forwards;
    animation-delay: .7s;
}

.home-content p {
    position: relative;
    font-size: 16px;

}

.home-content p::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1s ease forwards;
    animation-delay: .8s;
}

.home-content.btn-box {
    position: relative;
    display: flex;
    width: 345px;
    height: 50px;

}

.home-content .btn-box::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1s ease forwards;
    animation-delay: .10s;
    z-index: 2;

}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 150px;
    height: 100%;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    background-color: #00abf0;
    color: #081b29;
    text-decoration: none;
    font-weight: 600px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}


.btn-box a:hover {
    color: #00abf0;
}

.btn-box:nth-child(2) {
    background: transparent;
    color: #00abf0;

}

.btn-box:nth-child(2):hover {
    color: #081b29;
}

.btn-box:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before {
    width: 100%;
}

.home-sci {
    margin-left: 350px;
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showright 1s ease forwards;
    animation-delay: .1s;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #00abf0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.home-sci a:hover {

    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    ;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;
}


/* keyframe animation */
@keyframes showright {
    100% {
        width: 0;
    }
}




/* 1111
 */

.home-imgeHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;

    transition: .5s;
}

.home-imgeHover::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #081b29;
    animation: showright 1s ease forwards;
    animation-delay: .3s;

    z-index: 100;
}


.home-imgeHover:hover {
    background: #081b29;
    opacity: .8;
}